# ============================================================
# TERAMAP - Environment Variables
# ============================================================

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/tera?schema=public"

# NextAuth
AUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Duitku Payment Gateway
DUITKU_MERCHANT_CODE="your-merchant-code"
DUITKU_API_KEY="your-api-key"
DUITKU_ENVIRONMENT="sandbox"
DUITKU_BASE_URL="https://sandbox.duitku.com/webapi/api/merchant"
DUITKU_CALLBACK_URL="http://localhost:3000/api/webhooks/duitku"
DUITKU_RETURN_URL="http://localhost:3000/dashboard/subscription"

# Cron Job Security
CRON_SECRET="your-cron-secret-key"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="TERAMAP"

# Cloudflare R2
R2_ACCOUNT_ID="your-r2-account-id"
R2_ACCESS_KEY_ID="your-r2-access-key-id"
R2_SECRET_ACCESS_KEY="your-r2-secret-access-key"
R2_BUCKET_NAME="your-r2-bucket-name"
R2_PUBLIC_URL="https://your-r2-bucket-name.your-account-id.r2.cloudflarestorage.com"
R2_LINK_ACCESS_BUCKET="https://your-r2-bucket-name.your-account-id.r2.cloudflarestorage.com"
